@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 375px;
}

.wrapper {
  width: 100%;
  height: auto; /* 5000px */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3c3a39;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
}

.headline {
  display: grid;
  padding-top: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  height: 590px;
  width: 100%;
  background-color: #1c1a19;
  background-image: url("./images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.recent-works h2 {
  width: 327px;
  height: 83px;
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #1c1a19;
  margin: 120px 24px 24px 24px;
}

.text h2 {
  height: 79px;
  width: 327px;
  left: 24px;
  top: 120px;
  font-family: "crete round", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-align: left;
  color: #ff6b00;
  margin: 120px 24px 24px 24px;
}

.headline .text h1 {
  width: 327px;
  height: 124px;
  margin-top: 100px;
  margin-left: 24px;
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.headline .text h4 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
  margin-left: 24px;
  width: 327px;
  margin-bottom: 10px;
}

.text1 p {
  padding-top: 72px;
  height: 87px;
  margin-bottom: 75px;
}

.text p {
  height: 148px;
  width: 327px;
  left: 24px;
  top: 223px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin: 0 24px 24px 24px;
}

.recent-works p {
  width: 327px;
  height: 147px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: justify;
  margin-left: 24px;
}

.headline .text p {
  width: 327px;
  height: 123px;
  margin-left: 24px;
  font-family: poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.headline .text img {
  margin-left: 24px;
}

.recent-works {
  display: grid;
  position: relative;
}

.solid {
  width: 327px;
  color: #212121;
  margin-left: 24px;
}

.recent-works h3 {
  width: 327px;
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin: 24px 24px 12px 24px;
  color: #091e42;
}

.recent-works ul {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 20px;
  margin: 0 75px 70px 24px;
  height: 40px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

.recent-works ul li {
  padding-right: 12px;
  padding-top: 0;
  padding-bottom: 22px;
}

.recent-works .btn {
  width: 124px;
  height: 48px;
  padding: 12px;
  gap: 10px;
  background-color: #ff6b00;
  color: white;
  font-family: inter, sans-serif;
  font-size: 17px;
  margin-left: 24px;
  margin-top: -50px;
}

.projects {
  display: grid;
  color: #fff;
  width: 375px;
  position: relative;
  justify-content: center;
  margin-top: -150px;
  margin-bottom: -20px;
}

.text1 {
  margin-bottom: -220px;
}

.projects .text1 {
  padding-top: 78px;
  padding-left: 20px;
  width: 327px;
  left: 0;
  top: 0;
  background-image: url("./images/img-placeholder.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  align-items: center;
  justify-content: center;
}

.img-placeholder {
  margin-top: 44px;
  margin-left: 24px;
}

.projects .text1 h3 {
  height: 81px;
  width: 295px;
  left: 16px;
  top: 8px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 12px;
  padding-top: 180px;
}

.text1 ul {
  display: inline-flex;
  list-style: none;
  margin: 12px 75px 70px 16px;
}

.text1 ul li {
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 22px;
}

.projects .btn {
  width: 327px;
  height: 48px;
  background-color: #ff6b00;
  color: white;
  font-family: inter, sans-serif;
  font-size: 17px;
  margin-top: 180px;
  margin-bottom: -140px;
}

.about-me {
  flex-direction: row;
  color: #fff;
  height: 2200px;
  width: 375px;
  background-color: #1c1a19;
  position: absolute;
  top: 2950px;
  background-image: url("./images/illustration-about-me-mobile.png");
  background-position: 100% 23%;
  background-repeat: no-repeat;
}

.text .Med-btn {
  height: 48px;
  width: 161px;
  left: 24px;
  padding: 12px;
  margin-top: 10px;
  margin-left: 22px;
  flex-direction: row;
  font-family: inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  align-items: center;
  background-color: #ff6b00;
  color: #fff;
}

.solid1 {
  margin-top: 1510px;
  margin-bottom: 55px;
  position: absolute;
  height: 0;
  color: #fff;
  width: 327px;
  top: -35%;
  margin-left: 24px;
}

.lists {
  margin-bottom: 15px;
  margin-top: 420px;
}

.lists #lang {
  height: 24px;
  width: 257px;
  top: 8px;
  font-family: Inter, sans-serif, "Times New Roman", Times, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  list-style: none;
  margin-left: 70px;
  margin-bottom: 150px;
}

.about-me ul li {
  list-style: none;
  margin-top: 48px;
  height: 24px;
  top: 12px;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
}

.lists #frames {
  margin-top: 18px;
  margin-left: 50px;
  font-family: Inter, sans-serif, "Times New Roman", Times, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  padding-top: 220px;
  padding-bottom: 70px;
}

.lists #skills {
  font-family: Inter, sans-serif, "Times New Roman", Times, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  margin-left: 110px;
  margin-top: 48px;
  padding-top: 335px;
}

.about-me ul .lang1 {
  margin-left: 50px;
}

.about-me ul .lang2 {
  margin-left: 75px;
}

.about-me ul .lang3 {
  margin-left: 75px;
}

.about-me ul .lang4 {
  margin-left: 78px;
}

.about-me ul .frames1 {
  margin-left: 70px;
}

.about-me ul .frames2 {
  margin-left: 50px;
}

.about-me ul .frames3 {
  margin-left: 80px;
}

.about-me ul .frames4 {
  margin-left: 60px;
}

.about-me ul .frames5 {
  margin-left: 60px;
}

.about-me ul .skills1 {
  margin-left: 7px;
}

.about-me ul .skills2 {
  margin-left: 15px;
}

.about-me ul .skills4 {
  margin-left: 8px;
}

.lists #lang img {
  padding-right: 10px;
}

.lists #frames img {
  padding-right: 10px;
}

.lists #skills img {
  padding-right: 10px;
}

@media only screen and (max-width: 480px) {
  html,
  body {
    width: 375px;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: inherit;
  }
}
