@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 375px;
  height: 5000px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3c3a39;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
}

.headline {
  display: grid;
  padding-top: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  height: 590px;
  background-color: #1c1a19;
  background-image: url("./images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.recent-works h1 {
  width: 327px;
  height: 83px;
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c1a19;
  margin: 120px 24px 24px 24px;
}

.text h1 {
  height: 79px;
  width: 327px;
  left: 24px;
  top: 120px;
  font-family: "crete round", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-align: left;
  color: #ff6b00;
  margin: 120px 24px 24px 24px;
}

.headline .text h1 {
  width: 327px;
  height: 124px;
  margin-top: 100px;
  margin-left: 24px;
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.headline .text h4 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
  margin-left: 24px;
  width: 327px;
  margin-bottom: 10px;
}

.text1 p {
  padding-top: 72px;
  height: 87px;
  margin-bottom: 75px;
}

.text p {
  height: 148px;
  width: 327px;
  left: 24px;
  top: 223px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 24px 24px 24px;
}

.headline .text p {
  width: 327px;
  height: 123px;
  margin-left: 24px;
  font-family: poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.headline .text img {
  margin-left: 24px;
}

.recent-works {
  display: grid;
  position: relative;
}

.solid {
  width: 327px;
  color: #212121;
  margin-left: 24px;
}

.recent-works h3 {
  width: 327px;
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin: 24px 24px 12px 24px;
  color: #091e42;
}

.recent-works p {
  width: 327px;
  height: 147px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: justify;
  margin-left: 24px;
}

.recent-works ul {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 20px;
  margin: 0 75px 70px 24px;
  height: 40px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

.recent-works ul li {
  padding-right: 12px;
  padding-top: 0;
  padding-bottom: 22px;
}

.recent-works .btn {
  width: 124px;
  height: 48px;
  padding: 12px;
  gap: 10px;
  background-color: #ff6b00;
  color: white;
  font-family: inter, sans-serif;
  font-size: 17px;
  margin-left: 24px;
  margin-top: -50px;
}

.projects {
  display: grid;
  color: #fff;
  height: 868px;
  width: 375px;
  position: relative;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 120px;
}

.projects .text1 {
  padding-top: 78px;
  padding-left: 20px;
  width: 327px;
  left: 0;
  top: 0;
  background-image: url("./images/img-placeholder.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  align-items: center;
  justify-content: center;
}

.img-placeholder {
  margin-top: 44px;
  margin-left: 24px;
}

.projects .text1 h3 {
  height: 81px;
  width: 295px;
  left: 16px;
  top: 8px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 60px;
}

.text1 ul {
  display: inline-flex;
  list-style: none;
  margin-top: 12px 75px 70px 16px;
}

.text1 ul li {
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 22px;
}

.projects .btn {
  position: relative;
  width: 327px;
  height: 48px;
  background-color: #ff6b00;
  color: white;
  font-family: inter, sans-serif;
  font-size: 17px;
}

.about-me {
  flex-direction: row;
  color: #fff;
  height: 2100px;
  width: 375px;
  margin-top: 24px;
  background-color: #1c1a19;
  position: absolute;
  top: 2990px;
  background-image: url("./images/illustration-about-me-mobile.png");
  background-position: 100% 23%;
  background-repeat: no-repeat;
}

.text .Med-btn {
  height: 48px;
  width: 161px;
  left: 24px;
  padding: 12px;
  margin-top: 10px;
  margin-left: 22px;
  flex-direction: row;
  font-family: inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  align-items: center;
  background-color: #ff6b00;
  color: #fff;
}

.solid1 {
  margin-top: 1380px;
  margin-bottom: 55px;
  position: absolute;
  height: 0;
  color: #fff;
  width: 327px;
  top: -35%;
  margin-left: 24px;
}

.lists {
  margin-bottom: 15px;
  margin-top: 360px;
}

.lists h2 {
  height: 24px;
  width: 257px;
  top: 8px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  padding-left: 10px;
  padding-right: 10px;
}

.lists ul li {
  list-style: none;
  margin-top: 48px;
  height: 24px;
  top: 12px;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
}

.lists #lang {
  margin-left: 70px;
}

.lists #frames {
  margin-top: 48px;
  margin-left: 50px;
}

.lists .lang li {
  margin-left: 140px;
}

.lists .frames li {
  margin-left: 120px;
}

.lists .skills li {
  margin-left: 140px;
}

.lists ul .lang1 {
  margin-left: 130px;
}

.lists ul .lang2 {
  margin-left: 150px;
}

.lists ul .lang3 {
  margin-left: 150px;
}

.lists ul .lang4 {
  margin-left: 155px;
}

.lists ul .frames2 {
  margin-left: 100px;
}

.lists ul .frames3 {
  margin-left: 130px;
}

.lists ul .frames4 {
  margin-left: 115px;
}

.lists ul .frames5 {
  margin-left: 118px;
}

.lists ul .skills2 {
  margin-left: 150px;
}

.lists ul .skills3 {
  margin-left: 135px;
}

.lists ul .skills4 {
  margin-left: 150px;
}

.lists ul .skills5 {
  margin-left: 130px;
}

.lists #lang img {
  padding-right: 10px;
}

.lists #frames img {
  padding-right: 10px;
}

.lists #skills {
  margin-left: 110px;
  margin-top: 48px;
}

.lists #skills img {
  padding-right: 10px;
}
