@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 375px;
}

.wrapper {
  width: 100%;
  height: auto; /* 5000px */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3c3a39;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
}

.headline {
  display: grid;
  padding-top: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  height: 590px;
  width: 100%;
  background-color: #1c1a19;
  background-image: url("./images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.recent-works h2 {
  width: 327px;
  height: 83px;
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #1c1a19;
  margin: 120px 24px 24px 24px;
}

.text h2 {
  height: 79px;
  width: 327px;
  left: 24px;
  top: 120px;
  font-family: "crete round", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-align: left;
  color: #ff6b00;
  margin: 120px 24px 24px 24px;
}

.headline .text h1 {
  width: 327px;
  height: 124px;
  margin-top: 100px;
  margin-left: 24px;
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.form h4 {
  margin-top: 2530px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  width: 327px;
  height: 216px;
  color: #172b4d;
  margin-left: 24px;
}

.headline .text h4 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
  margin-left: 24px;
  width: 327px;
  margin-bottom: 10px;
}

.text1 p {
  padding-top: 72px;
  height: 87px;
  margin-bottom: 75px;
}

.text p {
  height: 148px;
  width: 327px;
  left: 24px;
  top: 223px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin: 0 24px 24px 24px;
}

.recent-works p {
  width: 327px;
  height: 147px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: justify;
  margin-left: 24px;
}

.headline .text p {
  width: 327px;
  height: 123px;
  margin-left: 24px;
  font-family: poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.headline .text img {
  margin-left: 24px;
}

.recent-works {
  display: grid;
  position: relative;
}

.solid {
  width: 327px;
  color: #212121;
  margin-left: 24px;
}

.recent-works h3 {
  width: 327px;
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin: 24px 24px 12px 24px;
  color: #091e42;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-works ul {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 20px;
  margin: 0 75px 70px 24px;
  height: 40px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

form li + li {
  margin-top: 2em;
}

.recent-works ul li {
  padding-right: 12px;
  padding-top: 0;
  padding-bottom: 22px;
}

.recent-works .btn {
  width: 124px;
  height: 48px;
  padding: 12px;
  gap: 10px;
  background-color: #ff6b00;
  color: white;
  font-family: inter, sans-serif;
  font-size: 17px;
  margin-left: 24px;
  margin-top: -50px;
}

.projects {
  display: grid;
  color: #fff;
  width: 375px;
  position: relative;
  justify-content: center;
  margin-top: -150px;
  margin-bottom: -20px;
}

.text1 {
  margin-bottom: -220px;
}

.projects .text1 {
  padding-top: 78px;
  padding-left: 20px;
  width: 327px;
  left: 0;
  top: 0;
  background-image: url("./images/img-placeholder.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  align-items: center;
  justify-content: center;
}

.img-placeholder {
  margin-top: 44px;
  margin-left: 24px;
}

.projects .text1 h3 {
  height: 81px;
  width: 295px;
  left: 16px;
  top: 8px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 12px;
  padding-top: 180px;
}

.text1 ul {
  display: inline-flex;
  list-style: none;
  margin: 12px 75px 70px 16px;
}

.text1 ul li {
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 22px;
}

.projects .btn {
  width: 327px;
  height: 48px;
  background-color: #ff6b00;
  color: white;
  font-family: inter, sans-serif;
  font-size: 17px;
  margin-top: 180px;
  margin-bottom: -140px;
}

.about-me {
  flex-direction: row;
  color: #fff;
  height: 2200px;
  width: 375px;
  background-color: #1c1a19;
  position: absolute;
  top: 4380px;
  background-image: url("./images/illustration-about-me-mobile.png");
  background-position: 100% 23%;
  background-repeat: no-repeat;
}

.text .Med-btn {
  height: 48px;
  width: 161px;
  left: 24px;
  padding: 12px;
  margin-top: 10px;
  margin-left: 22px;
  flex-direction: row;
  font-family: inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  align-items: center;
  background-color: #ff6b00;
  color: #fff;
}

.solid1 {
  margin-top: 1510px;
  margin-bottom: 55px;
  position: absolute;
  height: 0;
  color: #fff;
  width: 327px;
  top: -35%;
  margin-left: 24px;
}

.lists {
  margin-bottom: 15px;
  margin-top: 420px;
}

.lists #lang {
  height: 24px;
  width: 257px;
  top: 8px;
  font-family: Inter, sans-serif, "Times New Roman", Times, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  list-style: none;
  margin-left: 70px;
  margin-bottom: 50px;
}

.about-me ul li {
  list-style: none;
  margin-top: 48px;
  height: 24px;
  top: 12px;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
}

.lists #frames {
  margin-top: 18px;
  margin-left: 50px;
  font-family: Inter, sans-serif, "Times New Roman", Times, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lists #skills {
  font-family: Inter, sans-serif, "Times New Roman", Times, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  margin-left: 90px;
  margin-top: 48px;
  padding-top: 5px;
}

.lists .lang1 {
  margin-left: 120px;
  margin-top: 10px;
}

.about-me ul .lang2 {
  margin-left: 150px;
}

.about-me ul .lang3 {
  margin-left: 150px;
}

.about-me ul .lang4 {
  margin-left: 153px;
}

.about-me ul .frames1 {
  margin-left: 120px;
  margin-top: 20px;
}

.about-me ul .frames2 {
  margin-left: 105px;
}

.about-me ul .frames3 {
  margin-left: 135px;
}

.about-me ul .frames4 {
  margin-left: 120px;
}

.about-me ul .frames5 {
  margin-left: 118px;
}

.about-me ul .skills1 {
  margin-left: 137px;
  margin-top: 50px;
}

.about-me ul .skills2 {
  margin-left: 140px;
}

.about-me ul .skills3 {
  margin-left: 125px;
}

.about-me ul .skills4 {
  margin-left: 140px;
}

.about-me ul .skills5 {
  margin-left: 125px;
}

form {
  margin-top: 43px;
  width: 375px;
  padding: 1em;
  margin-left: 24px;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

form input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 30px;
  top: 20px;
  font-family: inter, sans-serif;
  padding-bottom: 15px;
  padding-inline: 12px;
  border-bottom: 1px solid #dbd8d7;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

textarea {
  /* align multiple text fields with their labels */
  vertical-align: top;
  background-color: #fbf8f7;
  width: 327px;
  height: 114px;
  border: none;
  padding-inline: 12px;
}

form button {
  width: 131px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 0;
  text-align: center;
  letter-spacing: 3%;
  margin-left: 90px;
  border: 0;
  padding: 12px;
}

form button:hover {
  border: 1px solid black;
  color: black;
}

form button:active {
  background: #fff;
  color: #ff6b00;
}

.form .langicon2 {
  position: relative;
  margin-left: 84px;
  margin-top: 97px;
}

.form .bottom-line {
  margin-left: 115px;
}

span {
  color: orangered;
  width: 18px;
  height: 18px;
  padding-right: 12px;
}

@media only screen and (max-width: 480px) {
  html,
  body {
    width: 375px;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .menu ul,
  .headline ul,
  .menu .rec,
  .recent-works-2,
  .all-projects .projects-2,
  .form ul .first-name,
  .form ul .last-name,
  .about-me .bottomline-2 {
    display: none;
  }
}

/* *******************************************************
/* desktop version
********************************************************+ */

@media only screen and (min-width: 768px) {
  html,
  body {
    width: 1440px;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .header {
    display: flex;
    width: 1440px;
    height: 72px;
    align-items: center;
    padding: 20px;
    background-color: #3c3a39;
    color: white;
  }

  .menu {
    display: flex;
  }

  .menu ul {
    display: flex;
    list-style: none;
    margin-right: 150px;
  }

  header ul li {
    padding: 15px;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }

  .menu li {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
  }

  .menu a {
    color: #fff;
    text-decoration: none;
  }

  .headline {
    height: 798px;
    background-image: url("./images/Illustration-header.png");
    background-position: 100% 35%;
    background-repeat: no-repeat;
    padding-top: 80px;
  }

  .headline ul {
    position: absolute;
    left: 2.5%;
    right: 96.25%;
    top: 7.7%;
    bottom: 91.87%;
    margin-top: 290px;
    margin-left: 36px;
    list-style: none;
  }

  .recent-works-2 li {
    padding-right: 10px;
  }

  .headline ul li {
    margin-bottom: 10px;
  }

  .headline .text h1 {
    font-family: "Crete Round", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0;
    text-align: left;
    width: 566px;
    margin-left: 150px;
  }

  .form h4 {
    position: absolute;
    width: 455px;
    height: 256px;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 150px;
    margin-top: 1350px;
  }

  .headline .text h4 {
    width: 566px;
    height: 24px;
    top: 376px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 48px;
    margin-left: 150px;
  }

  .recent-works-2 p {
    width: 448px;
    height: 140px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 730px;
    margin-top: -370px;
  }

  .about-me p {
    width: 566px;
    height: 148px;
    top: 232px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 150px;
  }

  .headline .text p {
    width: 566px;
    height: 123px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 48px;
    margin-left: 150px;
  }

  .text img {
    display: none;
  }

  .logo {
    margin-left: 150px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }

  .projects {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 364px;
    height: auto;
  }

  .menu .burger,
  .img-placeholder img,
  .recent-works,
  .all-projects .projects,
  .form ul .name,
  .form .bottom-line {
    display: none;
  }

  .header ul {
    margin-left: 150px;
    padding-right: 20px;
    margin-right: 170px;
  }

  .menu .rec {
    position: absolute;
    width: 22px;
    height: 18px;
    border-radius: 4px;
    color: white;
    margin-top: 18px;
    margin-left: 415px;
  }

  .recent-works-2 {
    display: grid;
    margin-left: 150px;
  }

  .recent-works-2 h2 {
    width: 321px;
    height: 52px;
    font-family: 'Crete Round', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 50px;
  }

  .recent-works-2 img {
    margin-top: 50px;
    margin-left: 0;
    float: left;
  }

  .recent-works-2 hr {
    width: 794px;
    margin-top: -23px;
    margin-left: 360px;
    border-left: none;
    border-bottom: none;
  }

  .recent-works-2 h3 {
    width: 448px;
    font-family: "Crete Round", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    height: 48px;
    margin-left: 730px;
    margin-top: -450px;
  }

  .recent-works-2 ul {
    display: flex;
    list-style: none;
    margin-left: 730px;
    margin-top: -250px;
  }

  .recent-works-2 .btn {
    width: 124px;
    height: 48px;
    background-color: #f55800;
    color: #fff;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: -120px;
    margin-left: 730px;
  }

  .recent-works-2 .btn:hover {
    border: 2px solid blue;
  }

  .projects-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 37px;
    column-gap: 24px;
    padding: 5px;
    margin-left: 150px;
    margin-top: 30px;
  }

  .projects-2 .proj-1 .btn-2 {
    position: absolute;
    width: 369px;
    height: 58px;
    background-color: #f55800;
    color: #fff;
    border: none;
    margin-top: -59px;
  }

  .projects-2 .proj-1 .btn-2:hover {
    border: 2px solid blue;
  }

  .projects-2 .proj-25 {
    width: 369px;
    height: 435px;
    padding-top: 78px;
    padding-left: 20px;
    left: 0;
    top: 0;
    background-image: url("./images/Img-Placeholder25.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    align-items: center;
    justify-content: center;
  }

  .projects-2 .proj-36 {
    width: 369px;
    height: 435px;
    padding-top: 78px;
    padding-left: 20px;
    left: 0;
    top: 0;
    background-image: url("./images/Img-Placeholder-36.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    align-items: center;
    justify-content: center;
  }

  .projects-2 .proj-4 {
    width: 369px;
    height: 435px;
    padding-top: 78px;
    padding-left: 20px;
    left: 0;
    top: 0;
    background-image: url("./images/Img-Placeholder-4.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    align-items: center;
    justify-content: center;
  }

  .projects-2 .proj h3 {
    width: 337px;
    font-family: "Crete Round", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
    margin-top: 100px;
  }

  .projects-2 .proj-36 h3 {
    margin-top: 145px;
  }

  .projects-2 .proj p {
    width: 337px;
    height: 72px;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
  }

  .projects-2 .proj ul {
    display: flex;
    list-style: none;
    padding-top: 30px;
  }

  .projects-2 .proj ul li {
    padding-right: 10px;
  }

  .about-me {
    width: 1440px;
    height: 1195px;
    background: #262626;
    position: absolute;
    top: 2480px;
    background-image: url("./images/Group-1.png");
    background-repeat: no-repeat;
    background-position: right 11%;
  }

  .about-me h2 {
    width: 566px;
    height: 78px;
    margin-left: 150px;
    top: 150px;
    font-family: 'Crete Round', sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0;
    text-align: left;
    color: #f55800;
  }

  .button-wiggle {
    animation: wiggle 2s linear infinite;
  }

  @keyframes wiggle {
    0%, 7% {
      transform: rotate(0);
    }

    15% {
      transform: rotate(-15deg);
    }

    20% {
      transform: rotate(10deg);
    }

    25% {
      transform: rotate(-10deg);
    }

    30% {
      transform: rotate(6deg);
    }

    35% {
      transform: rotate(-4deg);
    }

    40%, 100% {
      transform: rotate(0deg);
    }
  }

  .about-me .Med-btn {
    margin-left: 150px;
    border: none;
  }

  .about-me .solid1 {
    width: 1156px;
    top: 9px;
    position: absolute;
    border: 1px solid #fff;
    margin-top: 550px;
    margin-left: 150px;
  }

  .about-me #lang {
    position: absolute;
    width: 228px;
    height: 24px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 150px;
    margin-top: 650px;
  }

  .about-me #frames {
    position: absolute;
    width: 228px;
    height: 24px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 565px;
    margin-top: 600px;
  }

  .about-me #skills {
    position: absolute;
    width: 228px;
    height: 24px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 1015px;
    margin-top: 650px;
  }

  .about-me ul .lan,
  .about-me ul .fra,
  .about-me ul .ski {
    position: absolute;
    height: 24px;
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0;
    text-align: left;
  }

  .about-me ul .lang1 {
    margin-top: 710px;
    margin-left: 160px;
  }

  .about-me ul .lang2 {
    margin-top: 760px;
    margin-left: 160px;
  }

  .about-me ul .lang3 {
    margin-top: 810px;
    margin-left: 160px;
  }

  .about-me ul .lang4 {
    margin-top: 860px;
    margin-left: 160px;
  }

  .about-me ul .frames1 {
    margin-top: 710px;
    margin-left: 575px;
  }

  .about-me ul .frames2 {
    margin-top: 760px;
    margin-left: 575px;
  }

  .about-me ul .frames3 {
    margin-top: 810px;
    margin-left: 575px;
  }

  .about-me ul .frames4 {
    margin-top: 860px;
    margin-left: 575px;
  }

  .about-me ul .frames5 {
    margin-top: 910px;
    margin-left: 575px;
  }

  .about-me ul .skills1 {
    margin-top: 710px;
    margin-left: 1030px;
  }

  .about-me ul .skills2 {
    margin-top: 760px;
    margin-left: 1030px;
  }

  .about-me ul .skills3 {
    margin-top: 810px;
    margin-left: 1030px;
  }

  .about-me ul .skills4 {
    margin-top: 860px;
    margin-left: 1030px;
  }

  .about-me ul .skills5 {
    margin-top: 910px;
    margin-left: 1030px;
  }

  .form form {
    position: absolute;
    margin-left: 650px;
    margin-top: 1325px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .form form .email {
    position: absolute;
    margin-top: 65px;
    margin-left: 5px;
  }

  .form ul .first-name {
    position: absolute;
    margin-left: 5px;
    margin-top: 0;
  }

  .form ul .last-name {
    position: absolute;
    margin-left: 350px;
    margin-top: 0;
  }

  .form ul .message {
    position: absolute;
    margin-left: 5px;
    margin-top: 130px;
  }

  .form ul .button {
    position: absolute;
    margin-left: -87px;
    margin-top: 300px;
  }

  .form ul textarea {
    width: 684px;
    height: 114px;
    padding-top: 12px;
  }

  .form ul label {
    padding-top: 8px;
  }

  .form ul .email input {
    width: 684px;
  }

  .form ul .first-name input {
    width: 330px;
  }

  .form ul .last-name input {
    width: 330px;
  }

  .form .bottomline-2 {
    position: absolute;
    margin-top: 1870px;
  }

  .form .langicon2 {
    position: absolute;
    margin-top: 1890px;
    margin-left: 650px;
  }

  .form {
    height: 1000px;
  }
}
